/* #region Main */
main {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: url(/images/stadion.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main h1 {
  text-align: center;
  font-size: 4rem;
  font-style: italic;
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 0;
}

.about-us nav section {
  color: white;
  font-size: 2.2rem;
  background-color: black;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  padding: 1.5em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 50px;
}

.about-us nav {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* #endregion Main */

@media (max-width: 800px) {
  .about-us nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
